<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phuocbui.mvvm">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.phuocbui.mvvm.A2MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMDemo"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.phuocbui.mvvm.ui.splash.SplashActivity"
            android:theme="@style/Theme.MVVMDemo.Launcher"
            android:screenOrientation="portrait">
        </activity>

        <!-- This activity alias lets us change the main entry point without breaking launcher
             shortcuts. DO NOT change its android:name attribute. -->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name="com.phuocbui.mvvm.ui.signin.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.phuocbui.mvvm.ui.home.HomeActivity" />
        <activity
            android:name="com.phuocbui.mvvm.ui.eventdetail.EventDetailsActivity" />
    </application>

</manifest>