<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redhelmet.alert2me">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".A2MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A2M">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_bar_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/transparent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.redhelmet.alert2me.ui.splash.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signin.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.redhelmet.alert2me.ui.termsandcondition.TermConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.redhelmet.alert2me.ui.home.HomeActivity" />
        <activity
            android:name="com.redhelmet.alert2me.ui.addwatchzone.AddStaticZoneActivity" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.AddStaticZoneLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.ShareWatchZone" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.AddStaticZoneNotification" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.AddStaticZoneNotificationTypes" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.AddStaticZoneNotificationStatus" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.EditWatchZone" />
        <activity
            android:name="com.redhelmet.alert2me.ui.eventdetail.EventDetailsActivity" />
        <activity
            android:name="com.redhelmet.alert2me.ui.eventfilter.EventFilterActivity" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.EventMapStatus" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.EventMapTypes" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.AddObservation" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.ObservationWhatCategory" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.ObservationLocation" />
        <activity
            android:name="com.redhelmet.alert2me.ui.activity.ObservationComments" />

        <activity android:name=".ui.clusterevents.ClusterEventListActivity" />

        <service android:name="com.redhelmet.alert2me.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.redhelmet.alert2me.ui.services.ActivityRecognizedService"
            android:process=":activityRecognizedService"
            android:exported="false"/>
        <service
            android:name="com.redhelmet.alert2me.ui.services.ProximityLocationManager"
            android:enabled="true"
            android:exported="false"
            android:process=":proximityLocationManager" />
        <service
            android:name="com.redhelmet.alert2me.ui.services.BackgroundDetectedActivitiesService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>